.navbar {
    height: 8vh;
    border-radius: 4vh;
    margin: 1vw 10vw 0 10vw;
}
#logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
    height:6vh ;
    width: 15vw;
    background-color: white;
    border-radius: 3vh;
}
#logo {
    float: left;
    height: 5vh;
}